# Compiler files
cache/
out/
lib/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

1. You have been
2. Cursed By
3. Ravana